<!DOCTYPE html>
<html>
<head>
  <title>RailsDddAuctionExample</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body>
<div class="bg-base-100 drawer lg:drawer-open"><input id="drawer" type="checkbox" class="drawer-toggle">
  <div class="drawer-content">
    <div class="
    bg-base-100 text-base-content sticky top-0 z-30 flex h-16 w-full justify-center bg-opacity-90 backdrop-blur transition-shadow duration-100 [transform:translate3d(0,0,0)]

    ">
      <nav class="navbar w-full">
        <div class="flex flex-1 md:gap-1 lg:gap-2">
          <span class="tooltip tooltip-bottom before:text-xs before:content-[attr(data-tip)]" data-tip="Menu"><label aria-label="Open menu" for="drawer" class="btn btn-square btn-ghost drawer-button lg:hidden "><svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-5 w-5 stroke-current md:h-6 md:w-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg></label></span>
          <div class="flex items-center gap-2 lg:hidden">
            <a href="/" aria-current="page" aria-label="Auctions DDD" class="flex-0 btn btn-ghost gap-1 px-2 md:gap-2">
              <span class="font-title text-base-content text-lg md:text-2xl">Auctions DDD</span></a>
          </div>
        </div>
        <div class="flex-0">
          <div title="Change User" class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost" aria-label="User">
              <%= current_user ? current_user.name : "Not signed in" %>
              <svg width="12px" height="12px" class="hidden h-2 w-2 fill-current opacity-60 sm:inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048">
                <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
              </svg>
            </div>
            <div tabindex="0" class="dropdown-content bg-base-200 text-base-content rounded-box top-px mt-16 max-h-[calc(100vh-10rem)] w-56 overflow-y-auto border border-white/5 shadow-2xl outline outline-1 outline-black/5">
              <ul class="menu menu-sm gap-1">
                <% User.all.each do |user| %>
                  <li>
                    <%= button_to "Sign in as #{user.name}", session_path, method: :post, params: { id: user.id }, form_class: 'dropdown-button-form' %>
                  </li>
                <% end %>
                <% if current_user %>
                  <hr/>
                  <li>
                    <%= button_to "Sign out", session_path, method: :delete, form_class: 'dropdown-button-form' %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="prose lg:prose-md max-w-[100vw] px-6 pb-16 xl:pr-2">
      <%= yield %>
    </div>
  </div>
  <div class="drawer-side z-40" style="scroll-behavior: smooth; scroll-padding-top: 5rem;">
    <label for="drawer" class="drawer-overlay" aria-label="Close menu"></label>
    <aside class="bg-base-100 min-h-screen w-80">
      <div class="bg-base-100 sticky top-0 z-20 hidden items-center gap-2 bg-opacity-90 px-4 py-2 backdrop-blur lg:flex ">
        <a href="/" aria-current="page" aria-label="Homepage" class="flex-0 btn btn-ghost px-2">
          <div class="font-title inline-flex text-lg md:text-2xl">Auctions DDD</div>
        </a>
      </div>
      <div class="h-4"></div>
      <ul class="menu px-4 py-0">
        <li>
          <h2 class="menu-title">Buy</h2>
          <ul>
            <li><a href="/">Current Auctions</a></li>
          </ul>
        </li>
        <li>
          <h2 class="menu-title">Sell</h2>
          <ul>
            <li><a href="/">My Auctions</a></li>
          </ul>
        </li>
        <%= render partial: 'layouts/admin_menu' %>
      </ul>

      <div class="bg-base-100 pointer-events-none sticky bottom-0 flex h-40 [mask-image:linear-gradient(transparent,#000000)]"></div>
    </aside>
  </div>
</div>
</body>
</html>
